<ion-header>
  <ion-navbar>
    <ion-title>
        {{ 'ABOUT_PAGE' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div>

</div>
    <div>
        {{getUserName()}}
    </div>
</ion-content>
