page-single-event {
    .toolbar-background {
        background: url('../assets/img/headerr.png') !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

  .cont1
  {
      //background: url('../assets/img/eventbrite.png') !important;
      height: 50%;
      width: 100%;
      position: relative;
  }

    .cont2
    {
        height: 50%;
        width: 100%;
    }

    .cont3
    {
        margin-top: 50px;
        width: 100%;
        margin-left: 10px;
    }
    .button
    {
        width: 120px;
        height: 70x;
        margin-top: 10%;
    }

    .your-div{
        position: absolute;
        bottom: 0;
        left: 10px;
    }
}

