<ion-header>
    <ion-navbar>
        <ion-row>
            <ion-col text-center>
                <ion-title style="text-align: left;" >{{event.data().event.title.split(' ')[0]}}</ion-title>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="cont1" [ngStyle]="{ 'background-image': 'url(' + getImage() + ')'}">
        <div class="your-div">
            <p style="font-size: small; color: white;"></p>
        </div>
    </div>
    <div padding class="cont2">
        <div>
            <ion-icon name="pin"></ion-icon>
            <label>{{event.data().locationQuery}}</label>
            <ion-icon  (click)="openEventPage(event)" style="text-align: right; float: right; right: 0" name="hand">{{event.participantsCount}}</ion-icon>
        </div>
        <h1>{{event.data().event.title}}</h1>
        <p> {{event.data().event.description}}</p>
        <img *ngIf="isClicked===true" class="button"  (click)="addParticipant()" src="assets/img/icons/Join_button.png"> 


    </div>
</ion-content>

