<ion-content scroll="false">

  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      {{ 'WELCOME_INTRO' | translate }}
    </div>
  </div>

  <div class="max-width" padding>
    <button ion-button block (click)="firebaseSignInWithFacebook()" class="login">{{ 'FACEBOOK_LOGIN_BUTTON' | translate }}</button>
  </div>

</ion-content>
