page-login {

  .splash-bg {
    position: relative;
    background: url('../assets/img/splashbg.png') no-repeat transparent; //EDIT: 1500x500
    background-size: cover;
    height: 45%; //EDIT: 45%
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite; //EDIT: 40s
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    text-align: center;
  }

  .splash-logo {
    margin: auto;
    background: url('../assets/img/appicon.png') repeat transparent; //EDIT: 512x512
    background-size: 100%;
    width: 128px;
    height: 128px;
  }

  .splash-intro {
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
  }

  button.login {
    margin-bottom: 25px;

    //TODO: delete
    /* margin-top: 25px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;

    &.activated {
      background-color: rgb(220, 220, 220);
    }*/
  }

  .max-width {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

}
