<ion-tabs #tabs>
  <ion-tab [root]="'MapPage'" tabIcon="locate"></ion-tab>
  <ion-tab [root]="'EventListPage'" tabIcon="list"></ion-tab>
  <ion-tab [root]="'MyEventsPage'" tabIcon="list-box"></ion-tab>
  <ion-tab (ionSelect)="openSideMenu()" tabIcon="menu"></ion-tab>
</ion-tabs>
