<ion-header>

  <ion-navbar>
    <ion-title>{{ 'INVITE_FRIENDS_PAGE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list class="ion-list_list">
    <ion-item>
      <ion-avatar item-left>
        <img src="../assets/img/appicon.png">
      </ion-avatar>
      <h2>Cher</h2>
      <p>Ugh. As if.</p>
    </ion-item>

  </ion-list>
</ion-content>
