<ion-header>

  <ion-navbar>
    <ion-title>{{ 'PROFILE_PAGE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-spinner *ngIf="loading[0]" name="dots"></ion-spinner>
  
  <ion-grid *ngIf="!loading[0]">
    <ion-row>
      <ion-col col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2>
        <img src="{{ user.photoURL }}"/>
      </ion-col>
      <ion-col>
        <ion-item-group>
            <ion-item-divider color="light">
              {{ 'PROFILE_INFO' | translate }}
            </ion-item-divider>
            <ion-item text-wrap>
              {{ 'PROFILE_DISPLAYNAME' | translate }}
              {{ user.displayName }}
            </ion-item>
            <ion-item text-wrap>
              {{ 'PROFILE_EMAIL' | translate }}
              {{ user.email }}
            </ion-item>
            <ion-item text-wrap>
              {{ 'PROFILE_CREATIONTIME' | translate }}
              {{ user.metadata.creationTime }}
            </ion-item>
            <ion-item text-wrap>
              {{ 'PROFILE_LASTSIGNINTIME' | translate }}
              {{ user.metadata.lastSignInTime }}
            </ion-item>
            <ion-item text-wrap>
              {{ 'PROFILE_PHONENUMBER' | translate }}
              {{ user.phoneNumber }}
            </ion-item>
            <ion-item text-wrap>
              {{ 'PROFILE_PROVIDERID' | translate }}
              {{ user.providerId }}
            </ion-item>
        </ion-item-group>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
