<ion-row id="event-preview">
    <ion-col *ngIf="multipleEvents" text-left col-1 class="marker-left" (click)="nextLeft()">
        <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-col>
    <ion-col text-left col-4>
        <img src="{{getImage()}}" style="height: 90px; width: 90px">
    </ion-col>
    <ion-col text-left>
        <ion-row>
            <label style="font-size: large">{{getTitle()}}</label>
        </ion-row>
        <ion-row>
            <label>{{getDescription()}}</label>
        </ion-row>
    </ion-col>
    <ion-col *ngIf="multipleEvents" text-left class="marker-right" col-1 (click)="nextRight()">
        <ion-icon name="ios-arrow-forward"></ion-icon>
    </ion-col>
</ion-row>
