event-marker {
    #event-preview {
        background: white;
        position: absolute;
        width: 100%;
        z-index: 100;
    }

    .marker-left, .marker-right {
        background: #ffe8e1;
    }

    .marker-left ion-icon, .marker-right ion-icon {
        position: relative;
        top: 40%;
        display: block;
        font-size: 22px;
        text-align: center;
    }
}
