<ion-header>
  <ion-navbar>
      <ion-title>{{ 'FRIEND_LIST_PAGE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list inset>
        <button ion-item *ngFor="let user of users" (click)="onItemClick(user)">
            <ion-avatar item-left>
                <img [src]="user.data().photoURL">
            </ion-avatar>
            <ion-avatar item-right>
                <div  [ngClass]="isUserOnline(user) ? 'green' : 'red'" style="width: 20px; height: 20px; border-radius: 50%"></div>
            </ion-avatar>
            <h2>{{user.data().displayName}}</h2>
           <!--<h3>{{user.email}}</h3>-->
        </button>
    </ion-list>
</ion-content>
