<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SETTINGS_PAGE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label>
      {{ 'LANGUAGE_SETTING' | translate }}
      <ion-spinner *ngIf="loading[0]" name="dots"></ion-spinner>
    </ion-label>
    <ion-select [(ngModel)]="language" interface="popover" (ionChange)=languageChange($event)>
      <ion-option value="en">{{ 'EN_LANGUAGE' | translate }}</ion-option>
      <ion-option value="lt">{{ 'LT_LANGUAGE' | translate }}</ion-option>
    </ion-select>
  </ion-item>

</ion-content>
