me {
    #map {
        padding-top: 0px;
        width: 100%;
        height: 100%;


    }

    .scroll-content {
        padding: 0px!important;
    }

    .map-info-box {
        position: absolute;
        font-size: 18px;
        color: black;
        top: 40%;
        width: 80%;
        margin: 10%;
        text-align: center;
    }

    .error-button {

    }

    .refresh-coords-button {
        position: absolute;
        font-size: 18px;
        color: black;
        bottom: 10px;
        left: 10px;
    }

    .debug-coords {
        position: absolute;
        font-size: 14px;
        color: black;
        top: 35px;
        left: 10px;
    }

    .my-avatar {
        background-size: contain;
        border-radius: 6px;
        width: 40px;
        height: 40px;
        margin-bottom: 3px;
        background: red;
        background-size: 40px 40px;
    }

    .my-avatar-container {
        position: absolute;
        top: 80px;
        left: 10px;
        width: 40px;
    }

    .create-event-icon {
        position: absolute;
        height: 60px;
        bottom: 25px;
        right: 25px;
    }

    .dom-marker {
        background: red;
    }

    .user-marker {
        border: 2px solid white;
        border-radius: 25px;
    }

    .event-marker-wrapper {
        background: url('../assets/img/event_marker.png');
        height: 105px;
        width: 95px;
        zoom: 0.7;
        position: relative;
        top: -8em;
        left: -3.5em;
    }

    .event-marker {
        position: relative;
        top: 4px;
        height: 72px!important;
        border-radius: 35px;
        width: 72px!important;
        left: 4px;
    }

    .event-marker-count-wrapper {
        background: green;
    }

    .event-count-marker {
        color: white;
        font-size: 36px;
        top: 16px;
        position: relative;
        width: 69px;
        height: 72px;
        text-align: center;
    }

    .bubble {
        font-size: 11px;
        line-height: 15px;
        color: white;
    }
    .bubble-image {
        width: 300px;
        height: 100px;
        background-size: cover;
        background-position: center;
        display: block;
    }
    .bubble-logo {
        float: left;
        margin-right: 1em;
        margin-bottom: 4px;
    }
    .bubble-footer {
        display: table;
    }
    .bubble-desc {
        display: table-cell;
        vertical-align: middle;
    }
    .bubble a {
        text-decoration: none;
        color: white !important;
    }
    .bubble a:hover {
        text-decoration: underline;
    }

    .bubble hr {
        margin: 5px 0px;
    }
}
