<header title="Me"></header>
<ion-content padding>
    <div #map id="map"></div>

    <div class="map-info-box" *ngIf="getIsNoCoords()">
        <div class="error-msg">
            Can't retrieve GPS coordinates, please enable Location and try again.
        </div>
        <div class="error-button">
            <button ion-button icon-right color="royal" (click)="retry()">
                Retry
            </button>
        </div>
    </div>
    <div class="map-info-box" *ngIf="isLoading">
        <div class="error-msg">
            Loading.. .
        </div>
    </div>
    <!--<div class="refresh-coords-button">
        <button ion-button icon-right color="royal" (click)="refreshCoords()">
            ME
        </button>
    </div>-->
    <div *ngIf="isDebugEnabled()" class="debug-coords">
        <div>
            lng: {{getMeCoords().longitude}}
        </div>
        <div>
            lat: {{getMeCoords().latitude}}
        </div>
        <div>
            accuracy: {{getMeCoords().accuracy}}
        </div>
    </div>
    <!--<div class="my-avatar-container">
        <div  *ngFor="let user of generateArray(users)"
              class="my-avatar"
              [ngStyle]="{'background-image': 'url(' + user.photoURL + ')'}"
              (click)="showUser(user.uid)"></div>
    </div>-->
    <img (click)="openCreateEvent()" class="create-event-icon" src="./assets/img/create_event_ico.png"/>
</ion-content>
<ion-footer>

</ion-footer>
