<ion-menu side="right" [content]="content" [swipeEnabled]="false">
    
    <ion-header>
        <ion-toolbar>
            <ion-title>{{ 'MENU' | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let page of pages" (click)="openPage(page.component)">
                {{ page.title | translate }}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>
