.ion-card_card {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.ion-card_image {
    height: 262px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ion-card_title {
    text-overflow: ellipsis;
}

.ion-card_p {
    text-align: justify;
}
