<!--
  Generated template for the SetLocationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>setLocation</ion-title>
  </ion-navbar>
    <ion-toolbar>
        <ion-title>Enter address</ion-title>
        <ion-searchbar
            [(ngModel)]="autoComplete.query"
            [showCancelButton]="true"
            (ionInput)="onInputAutoComplete($event)"
            (ionCancel)="onCancelAutoComplete($event)">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-list class="list-of-the-locations">
        <ion-item *ngFor="let item of getAutoCompleteItems()" tappable   (click)="chooseItem(item)">
            {{ item.description }}
        </ion-item>
    </ion-list>
    <div id="evCrMap"></div>
</ion-content>
