page-set-location {
    #evCrMap {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0;
    }

    .list-of-the-locations {
        z-index: 99;
        position:absolute;
    }

    .marker-with-shadow {
        position: relative;
        top: -50px;
        right: 13px;
    }
}
