header {
    ion-header {
        .header-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            float: right;
            margin-right: 13px;
        }
        ion-title {
            float: left;
            padding-top: 10px;
        }
    }
}
