<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{title}}</ion-title>
        <img class="header-avatar" useImg src="{{avatar}}">
    </ion-navbar>
</ion-header>
