page-event-list {
    .toolbar-background {
        background: url('../assets/img/headerr.png') !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .center {
        text-align: center;
    }

    .block {
        display: block;
    }

    .search {
        padding-top: 0px;
    }
    .row1 {
        border-bottom: 1px lightgray solid;
        //  box-shadow: 0px 1px 1px color($colors, secondary);
    }

    .row2 {
        padding-top: 10px;
        border-bottom: 1px lightgray solid;
        //  box-shadow: 0px 1px 1px color($colors, secondary);
    }

    .row3 {
        padding-bottom: 20px;
        color: #222222;
    }

    .container1 {
        //  box-shadow: 0px 1px 1px gray;
    }

    $colors: (
        primary: #488aff,
        secondary: #32db64,
        danger: #f53d3d,
        light: #f4f4f4,
        dark: #222,
        twitter: (
            base: #55acee,
            contrast: #ffffff
        ));
}
