<ion-header>
    <!--<ion-title>{{ 'EVENT_LIST_PAGE' | translate}}</ion-title>-->
    <ion-navbar primary>

        <ion-row>

            <ion-col text-center>
                <button (click)="myFunction()" style="background-color: transparent; height: 50px; width: 50px;">
                    <img src="assets/img/icons/Logo_copy.png">
                </button>
            </ion-col>

        </ion-row>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <!-- <ion-searchbar class="search"
                   [(ngModel)]="myInput"
                   [showCancelButton]="shouldShowCancel"
                   (ionInput)="onInput($event)"
                   (ionCancel)="onCancel($event)">
    </ion-searchbar> -->

    <div *ngFor="let event of events" class="container1" block (click)="openEventPage(event)">
        <ion-row class="row1">
            <ion-col text-left>
                <label>{{checkAvailability(event.data().event.time.startTime)}}</label>
            </ion-col>

            <ion-col text-right>
                <label>{{event.data().locationQuery.substring( 0, event.data().locationQuery.indexOf(","))}}</label>
                <ion-icon name="pin"></ion-icon>
            </ion-col>
        </ion-row>

        <ion-row class="row2">
            <ion-col text-left col-4>
                <img src="{{event.data().event.img}}" style="height: 90px; width: 90px">
            </ion-col>
            <ion-col text-left>
                <ion-row>
                    <label style="font-size: large">{{event.data().event.title}}</label>
                </ion-row>

                <ion-row>
                    <label>{{event.data().event.description}}</label>
                </ion-row>
            </ion-col>
        </ion-row>

        <ion-row class="row3">
            <ion-col text-left>
                <label style="font-size: x-small;"></label>
            </ion-col>

            <ion-col text-right>
                <ion-icon name="hand"></ion-icon>
                <label>{{getParticipantsCount(event)}}</label>
            </ion-col>
        </ion-row>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
