<header title="Vilnius flow"></header>
<ion-content padding>
    <ion-card class="ion-card_card" *ngFor="let eventItem of getEvents(); let i = index">
        <div class="ion-card_image" [ngStyle]="{ 'background-image': 'url(' + getImgUrl(eventItem) + ')'}"></div>
        <ion-card-content>
            <ion-card-title class="ion-card_title">
                {{eventItem.name}}
            </ion-card-title>
            <p class="ion-card_p">
                {{getEventDescription(eventItem)}}
            </p>
        </ion-card-content>
        <ion-row no-padding>
            <ion-col>
                <button ion-button clear small color="danger" icon-left>
                    <ion-icon name='star'></ion-icon>
                    Favorite
                </button>
            </ion-col>
            <ion-col text-center>
                <button ion-button clear small color="danger" icon-left (click)="goToEventPage(eventItem.id)">
                    <ion-icon name='more'></ion-icon>
                    More
                </button>
            </ion-col>
            <ion-col text-right>
                <button ion-button clear small color="danger" icon-left>
                    <ion-icon name='share-alt'></ion-icon>
                    Share
                </button>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons end>
            <button ion-button icon-right color="royal" (click)="goToCreateEventPage()">
                Сreate event
                <ion-icon name="add-circle"></ion-icon>
            </button>
            <button #fb_button ion-button icon-right class="facebook-login" color="royal" (click)="loginFB()">
                Login to Facebook
                <ion-icon name="logo-facebook"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
