<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'MOCK_EVENTS_PAGE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card class="ion-card_card" *ngFor="let event of events">

    <div class="ion-card_image" [ngStyle]="{ 'background-image': 'url(' + event.cover.source + ')'}"></div>

    <ion-card-content>
      <ion-card-title class="ion-card_title">
        {{event.name}}
      </ion-card-title>
      <p class="ion-card_p">
        {{event.description | slice:0:200}}{{event.description.length > 200 ? '...' : ''}}
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-left>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-left (click)="goToEventPage(event.id)">
          <ion-icon name='more'></ion-icon>
          More
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-left>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'LOADING_LIST' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons end>
      <button ion-button icon-right color="royal" (click)="goToCreateEventPage()">
        {{ 'CREATE_EVENT_BUTTON' | translate }}
        <ion-icon name="add-circle"></ion-icon>
      </button>
      <button ion-button icon-right color="royal" (click)="goToInviteFriendsPage()">
        {{ 'INVITE_FRIENDS_BUTTON' | translate }}
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
