page-my-events {

    div.scroll-content {
        padding: 0 !important;
    }

    ion-grid, ion-row {
        height: 100% !important;
    }

    ion-note {
        font-size: 12px !important;
    }

}
