<ion-header>

  <ion-navbar>
    <ion-title>{{ 'MY_EVENTS_PAGE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher [enabled]="!loading" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid *ngIf="loading" >
    <ion-row align-items-center justify-content-center>
      <ion-spinner></ion-spinner>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="!loading && !eventsObject[0]">
    <ion-list-header color="light">
      {{ 'NO_EVENTS' | translate}}
    </ion-list-header>
  </ion-list>

  <ion-list *ngFor="let day of eventsObject">

    <ion-list-header color="light">
      {{ day[0].event.time.startTime | date : 'yyyy.MM.dd' }}
    </ion-list-header>

    <ion-item *ngFor="let event of day">
      <ion-thumbnail item-start>
        <img src="{{ event.event.img }}">
      </ion-thumbnail>
      <ion-note>{{ event.event.time.startTime | date : 'HH:mm' }}</ion-note>
      <h2>{{ event.event.title }}</h2>
      <p>{{ event.event.description }}</p>
      <button ion-button clear item-end (click)="openSingleEventPage(event.eid)">{{ 'VIEW' | translate }}</button>
    </ion-item>

  </ion-list>

</ion-content>
