<ion-header>

    <ion-navbar>
        <ion-title>{{ 'CREATE_EVENT_PAGE' | translate }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-grid class="picture">
        <ion-row *ngIf="!picture">
            <ion-col>
                <button ion-button icon-only (click)="presentActionSheet()">
                    <ion-icon name="camera"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!picture">
            <ion-col>
                {{ 'ADD_EVENT_PHOTO' | translate }}
            </ion-col>
        </ion-row>
        <ion-row *ngIf="picture">
            <ion-col>
                <a (click)="presentActionSheet()">
                    <img width="100%" height="auto" src="{{ picture }}">
                </a>
            </ion-col>
        </ion-row>
    </ion-grid>

  <form [formGroup]="form" (submit)="addEvent()" novalidate>
    <ion-list>

        <ion-item>
            <ion-label floating>{{ 'EVENT_TITLE' | translate }}</ion-label>
            <ion-input formControlName="title" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines *ngIf="!form.controls.title.valid && form.controls.title.value">
            <p>
                {{ 'EVENT_TITLE_MAX_LENGTH_ERROR' | translate }}
            </p>
        </ion-item>
        <ion-item no-lines *ngIf="!form.controls.title.valid && !form.controls.title.value && form.controls.title.dirty">
            <p>
                {{ 'EVENT_TITLE_EMPTY_ERROR' | translate }}
            </p>
        </ion-item>

        <ion-item>
            <ion-label floating>{{ 'EVENT_DESCRIPTION' | translate }}</ion-label>
            <ion-textarea formControlName="description" rows="3"></ion-textarea>
        </ion-item>

        <ion-item no-lines *ngIf="!form.controls.description.valid && form.controls.description.value">
            <p>
                {{ 'EVENT_DESCRIPTION_MAX_LENGTH_ERROR' | translate }}
            </p>
        </ion-item>
        <ion-item no-lines *ngIf="!form.controls.description.valid && !form.controls.description.value && form.controls.description.dirty">
            <p>
                {{ 'EVENT_DESCRIPTION_EMPTY_ERROR' | translate }}
            </p>
        </ion-item>

        <ion-item (click)="openDatePicker('startTime')">
            <ion-label>Start Date</ion-label>
            <div item-content>
                {{timePicker.startTime.time}}
            </div>
        </ion-item>

        <ion-item *ngIf="timePicker.startTime.time" (click)="openDatePicker('endTime')">
            <ion-label>End date</ion-label>
            <div item-content>
                {{timePicker.endTime.time}}
            </div>
        </ion-item>

        <ion-item (click)="openLocationPage()">
            <ion-icon name="flag"></ion-icon><p>{{ getLocationValue() }}</p>
        </ion-item>

        <br>

        <button ion-button block type="submit" [disabled]="!form.valid">
            {{ 'EVENT_SUBMIT_BUTTON' | translate }}
        </button>

        </ion-list>
    </form>

</ion-content>
